@import url(https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400&display=swap);

@import "./utils/variables";
@import "./utils/mixin";

@import "./base/base";

@import "./components/components";
@import "./pages/index";
@import "./pages/catalogo";
@import "./pages/contacto";
@import "./pages/croissant";
@import "./pages/nuestra-historia";

body {
    background-color: rgb(213, 213, 213);


    margin: 0; // 1
    -webkit-text-size-adjust: 100%; // 3
    overflow-y: scroll;
}

