  .productos {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    color: white;
    font-size: 80px;
    letter-spacing: 5px;
        top: 90%;
    position: absolute;
    margin-top: -40px;
    
    text-shadow: -1px -1px 0px rgb(255, 68, 68),
      3px 3px 0px rgb(255, 68, 68),
      6px 6px 0px rgb(255, 68, 68);
  }